type hal_perf_default, domain, mlstrustedsubject;

r_dir_file(hal_perf_default, system_server)

dontaudit hal_perf_default self:capability { dac_override dac_read_search };
allow hal_perf_default {
init
kernel
}:dir { read search open };

allow hal_perf_default {
init
kernel
}:file { getattr open read };

allow hal_perf_default hal_perf_default:capability { sys_admin };
allow hal_perf_default sysfs_thermal:file w_file_perms;
