allow permissioncontroller_app tethering_service:service_manager find;
allow permissioncontroller_app theme_prop:file { read };
allow permissioncontroller_app vendor_file:file { read };
