get_prop(platform_app, sensors_prop);
get_prop(platform_app, vendor_audio_prop);
get_prop(platform_app, vendor_displayfeature_prop);

allow platform_app cgroup:file r_file_perms;
allow platform_app cgroup:file { open read };
allow platform_app default_android_service:service_manager find;
allow platform_app hal_displayfeature_hwservice:hwservice_manager find;
allow platform_app sysfs_graphics:file r_file_perms;
allow platform_app vendor_file:file { execute getattr open read };
allow platform_app vulkan_hal:file read;
