allow qti_init_shell qti_init_shell:capability { dac_override };
allow qti_init_shell sysfs_io_sched_tuneable:file { write };
allow qti_init_shell vendor_default_prop:file { getattr map open read };
allow qti_init_shell vendor_file:dir read;
