allow system_app sysfs_kgsl:file r_file_perms;
allow system_app sysfs_device_info:file r_file_perms;
allow system_app sysfs_zram:dir { search };

# fm_radio app needs open read write on fm_radio_device
allow system_app fm_radio_device:chr_file r_file_perms;
allow system_app vendor_default_prop:file map;
