allow vendor_fm_app theme_prop:file { getattr map open read };
allow vendor_fm_app vendor_file:file { getattr read };
allow vendor_fm_app vendor_default_prop:file { getattr map open };
